<div class="mt-5">
    <a class="waves-effect waves-light btn" routerLink="/registro/Habitante/crear-Habitante">Registrar Habitante</a>
</div>
<table class="striped">
    <thead>
      <tr>
          
          <th>Primer-Nombre</th>
          <th>Segundo-Nombre</th>
          <th>Primer-Apellido</th>
          <th>Segundo-Apellido</th>
          <th>Documento</th>
          <th>Telefono</th>
          <th>Email</th>
          <th>clave</th>
          
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let prop of listadoHabitantes">
        
        <td>{{prop.Primer-Nombre}}</td>
        <td>{{prop.Segundo-Nombre}}</td>
        <td>{{prop.Primer-Apellido}}</td>
        <td>{{prop.Segundo-Apellido}}</td>
        <td>{{prop.Documento}}</td>
        <td>{{prop.Telefono}}</td>
        <td>{{prop.Email}}</td>
        <td>{{prop.clave}}</td>
        
        <td>
            <a routerLink="/registro/editar-Habitante/{{prop.id}}">
                <span>Editar</span>
            </a>
        </td>
        <td>
            <a routerLink="/registro/eliminar-Habitante">
                <span>Eliminar</span>
            </a>
        </td>
      </tr>
    </tbody>
  </table>