<div class="row">
  <div class="col s12 m11">
    <div class="card">
      <div class="card-image">
        <img src="../../../../../assets/Habitantes.jpg">
      </div>
      <table class="striped">
        <thead>
          <tr>
            <th>Primer Nombre</th>
            <th>Segundo Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Documento</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>clave</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prop of listadoHabitantes">
            <td>{{prop.primerNombre}}</td>
            <td>{{prop.segundoNombre}}</td>
            <td>{{prop.primerApellido}}</td>
            <td>{{prop.segundoApellido}}</td>
            <td>{{prop.documento}}</td>
            <td>{{prop.telefono}}</td>
            <td>{{prop.email}}</td>
            <td>{{prop.clave}}</td>
            <td>
              <a routerLink='/registro/editar-Habitante/{{prop.id}}'>
                <span>Editar</span>
              </a>
            </td>
            <td>
              <a routerLink="/registro/habitantes/detalle-Habitante">
                <span>Detalle</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <br><br>
      <div class="card-action">
        <a class="waves-effect waves-light black btn" routerLink="/registro/crear-Habitante">Registrar
          Habitante</a>
      </div>
    </div>
  </div>
</div>

