<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

<nav>
    <nav class="black">
        <div class="nav-wrapper">
            <a routerLink="/inicio"></a>
            <img class="responsivbe-img z-depth-2" src="../../../assets/Logo.jpg" alt="Logo pagina" width="225" height="125" />
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a routerLink="">Administrador</a></li>
                <li><a routerLink="">Propietarios</a></li>
                <li><a routerLink="/habitantes/crearHabitante">Habitantes</a></li>
                <li><a routerLink="/seguridad/login" class="btn grey darken-2 waves-effect waves-light">Iniciar Sesión</a></li>
            </ul>
        </div>
    </nav>
    <section class="header-main-pic z-depth-2"></section>
</nav>