<nav>
    <nav class="black">
        <div class="nav-wrapper container">
            <img src="propiedades-horizontales/src/assets/Logo.jpg" alt="" width="200" height="100" />
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="">Administrador</a></li>
                <li><a href="">Propietarios</a></li>
                <li><a href="">Habitantes</a></li>
            </ul>
        </div>
    </nav>
</nav>