<div class="row">
    <form [formGroup]="formTorre" (ngSubmit)="guardarTorre" class="col s12">
    <input formControlName="id" type="text" readonly >
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="nombre" id="nombre" type="text" data-length="10">
          <label for="numero" class="active" >Nombre</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="descripcion" id="descripcion" type="text" data-length="10">
          <label for="torreId">Descripcion</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="conjuntoId" id="conjuntoId" type="text" data-length="10">
          <label for="propietarioId">Conjunto</label>
        </div>
      </div>
      <button [disabled]="!formTorre.valid" class="btn waves-effect waves-light" type="submit" name="action">Guardar
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
