 <div class="mt-5">
    <a class="waves-effect waves-light btn-large" routerLink= "/registro/crear-apartamento">Registrar Apartamento</a>
 </div>

<table>
    <thead>
      <tr>
          <th>Numero</th>
          <th>TorreId</th>
          <th>PropietarioId</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let prop of listadoApartamentos">
        <td>{{prop.numero}}</td>
        <td>{{prop.propietarioId}}</td>
        <td>{{prop.torreId}}</td>
        <td>
            <a routerLink="/registro/editar-apartamento/{{prop.id}}">
                <samp>Editar</samp>>
            </a>
        </td>
      </tr>
    </tbody>
</table>
      